$headerH: 40px;

body.editor-theme {
  #main {
    #sidebar {
      position: fixed;
      left: 0;
      bottom: 0;
      top: $headerH;
      width: 25%;
      overflow: scroll;
      background-color: white;

      .btnRefresh {
        @extend .glyphicon, .glyphicon-refresh
      }
    }

    #content {
      width: 75%;
      float: right;
      padding: 40px 40px 40px 40px;

      #content-panel {
        height: 100%;
      }
    }

    .err-no-type {
      color: red;
    }

    div.item-info {
      width: 100%;
      border-bottom: 1px solid #999;
      margin-bottom: 20px;
      font-size: 1.4em;

      span.lbl-item-info {
        font-weight: bold;
      }

      span.item-info-dat {
      }
    }
  }

  .tree {
    .parent-li > .node-wrap > .node > .icon {
      @extend .glyphicon, .glyphicon-folder-open
    }

    li {
      list-style-type: none;
      padding: 10px 5px 0px 5px;
      position: relative;

      .node-wrap {
        .node {
          display: inline-block;
          border: 1px solid #999;
          border-radius: 5px;
          padding: 5px 5px 5px 5px;
          cursor: pointer;

          .icon {
            margin-right: 5px;
          }
        }

        .opts {
          @extend .glyphicon, .glyphicon-menu-down;
          position: relative;
          top: -5px;
          visibility: hidden;
          opacity: 0.5;
          color: black;
        }

        .opts:hover {
          opacity: 1.0;
          color: #337ab7;
        }
      }

      .node-wrap {
        padding: 5px 20px 5px 5px;
      }

      .node-wrap:hover > .opts {
        visibility: visible;
      }
    }

    li::before, li::after {
      content: '';
      position: absolute;
      left: -20px;
    }

    li::before {
      width: 1px;
      height: 100%;
      border-left: 1px solid black;
    }

    li::after {
      top: 25px;
      width: 20px;
      height: 20px;
      border-top: 1px solid black;
    }

    >li::before, >li::after {
      border: 0;
    }

    li:last-child::before {
      height: 30px;
    }
  }
}

body.editor-theme.index-xhtml {

}
