$headerH: 40px;

body.editor-body {
  #sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: $headerH;
    width: 25%;
    overflow: scroll;
    background-color: white;
    padding-top: 20px;

    img.sidebar-loading {
      display: block;
      position: relative;
      top: 100px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  #content {
    width: 75%;
    float: right;
    padding: 20px 40px 40px 40px;
  }

  #opts-menu {
    z-index: 9;
  }

  .err-no-type {
    color: red;
  }

  div.item-info {
    width: 100%;
    border-bottom: 1px solid #999;
    margin-bottom: 20px;
    font-size: 1.4em;

    span.lbl-item-info {
      font-weight: bold;
    }

    span.item-info-dat {
    }
  }

  .tree {
    .node-wrap {
      padding: 5px 20px 5px 5px;

      .node {
        display: inline-block;
        border: 1px solid #999;
        border-radius: 5px;
        padding: 5px 5px 5px 5px;
        cursor: pointer;

        .icon {
          margin-right: 5px;
        }

        &.itemtype-folder.parent > .icon {
          @extend .glyphicon, .glyphicon-folder-open;
        }

        &.itemtype-folder.child > .icon {
          @extend .glyphicon, .glyphicon-folder-close;
        }

        &.item-open {
        }

        &.item-active {
          border: 1px solid #337ab7;
        }
      }

      .opts {
        @extend .glyphicon, .glyphicon-menu-down;
        position: relative;
        top: -5px;
        visibility: hidden;
        opacity: 0.5;
        color: black;

        &:hover {
          opacity: 1.0;
          color: #337ab7;
        }
      }

      &:hover > .opts {
        visibility: visible;
      }
    }

    li {
      list-style-type: none;
      padding: 10px 5px 0px 5px;
      position: relative;

      &::before, &::after {
        content: '';
        position: absolute;
        left: -20px;
      }

      &::before {
        width: 1px;
        height: 100%;
        border-left: 1px solid black;
      }

      &::after {
        top: 25px;
        width: 20px;
        height: 20px;
        border-top: 1px solid black;
      }

      >&::before, >&::after {
        border: 0;
      }

      &:last-child::before {
        height: 30px;
      }
    }
  }
}
