@import '../vendor/bootstrap-sass/assets/stylesheets/bootstrap';

@import 'mixins';

@import 'devTools/devTools';
@import 'editor/contentEditor';
@import 'denied';
@import 'error';
@import 'index';
@import 'login';
@import 'debug'; /*TODO*/

body {
  background-color: white;
}

#header {
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100%;
  height: $headerH;
  background-color: white;
  border-bottom: 2px solid black;

  .header-right {
    line-height: $headerH;
    float: right;
    padding-right: 5px;

    .username {
      @extend .text-info;
      float: right;
      margin-right: 10px;
    }

    .role-badge {
      float: right;
      margin-right: 3px;
      margin-top: ($headerH - 16) / 2;
    }

    .badge-active {
      @extend .label-success;
    }

    .badge-inactive {
      @extend .label-default;
    }
  }

  .logout {
    margin: 5px 10px 0 10px;
    float: left;
  }

  .rl-nav {
    background-color: transparent;
    margin: 0;
  }
}

#main {
  position: absolute;
  z-index: 1;
  top: $headerH;
  left: 0;
  width: 100%;
  min-height: 500px;
}

#notifications {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0;
  line-height: 40px;
  background-color: #f0f0f0;
  border-top: 1px solid #ddd;

  &.active {
    height: 40px;
  }

  @include transition(height, 0.5s);

  .notification {
    float: right;
    padding-right: 10px;

    &.error {
      color: red;
    }

    &.info {
      color: blue;
    }

    &.success {
      color: green;
    }

    i.notifications-icon {
      padding-left: 5px;

      &.error {
        @extend .glyphicon-exclamation-sign;
      }

      &.info {
        @extend .glyphicon-info-sign;
      }

      &.success {
        @extend .glyphicon-ok-sign;
      }
    }
  }
}

.modal {
  z-index: 9;

  .modal-dialog {
    top: 100px;
    outline: none;
  }
}
