$headerH: 40px;

body.devtools-theme {
  #main {
    #sidebar {
      position: fixed;
      left: 0;
      bottom: 0;
      top: $headerH;
      width: 25%;
      overflow: scroll;
      background-color: white;

      .list-group {
        .mnu-new-type {
          line-height: 20px;

          cursor: pointer;
          float: right;

          &:hover {
            color: green;
          }
        }
      }
    }

    #content {
      width: 75%;
      float: right;
      padding: 40px 40px 40px 40px;

      #panel {
        height: 100%;

        #tbl-fields {
          .field-buttons {
            text-align: right;

            .btn-edit-field {
              cursor: pointer;

              &:hover {
                color: green;
              }
            }

            .btn-delete-field {
              cursor: pointer;
              padding: 0 0 0 20px;

              &:hover {
                color: red;
              }
            }
          }

          .btn-new-field {
            cursor: pointer;
            &:hover {
              color: green;
            }
          }
        }
      }
    }
  }
}

body.devtools-theme.index-xhtml {

}
