@import '../../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@import 'mixins';

@import 'devTools/devTools';
@import 'editor/contentEditor';
@import 'denied';
@import 'error';
@import 'index';
@import 'login';
@import 'debug'; /*TODO*/

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("\#{resource['vendor/bootstrap:fonts/glyphicons-halflings-regular.eot']}");
  src: url("\#{resource['vendor/bootstrap:fonts/glyphicons-halflings-regular.eot?#iefix']}") format("embedded-opentype"), url("\#{resource['vendor/bootstrap:fonts/glyphicons-halflings-regular.woff2']}") format("woff2"), url("\#{resource['vendor/bootstrap:fonts/glyphicons-halflings-regular.woff']}") format("woff"), url("\#{resource['vendor/bootstrap:fonts/glyphicons-halflings-regular.ttf']}") format("truetype"), url("\#{resource['vendor/bootstrap:fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular']}") format("svg");
}

body {
  background-color: white;
}

#header {
  position: absolute;
  top: 0px;
  width: 100%;
  height: $headerH;
  background-color: white;
  border-bottom: 2px solid black;

  .header-right {
    line-height: $headerH;
    float: right;
    padding-right: 5px;

    .username {
      @extend .text-info;
      float: right;
      margin-right: 10px;
    }

    .role-badge {
      float: right;
      margin-right: 3px;
      margin-top: ($headerH - 16) / 2;
    }
  }

  .logout {
    height: $headerH;
    margin: 5px 10px 0 10px;
    float: left;
  }

  .rl-nav {
    background-color: transparent;
    margin: 0;
  }
}

#main {
  position: absolute;
  top: $headerH;
  left: 0;
  width: 100%;
  min-height: 500px;
}

.base-theme {

}
