<div class="index-vw">
  <div id="content">
    <div class="btn-wrap">
      <div class="editor-btn">
        <a data-ng-href="/#/editor"><span>
          <img class="editor-icon" alt="Content Editor" data-ng-src="img/editor-icon.svg">
        </span></a>
      </div>
      <div class="devtools-btn">
        <a data-ng-href="/#/devtools"><span>
          <img class="devtools-icon" alt="Developer Tools" data-ng-src="img/devtools-icon.svg">
        </span></a>
      </div>
    </div>
  </div>
</div>
